body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 120px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(219, 76, 10), rgb(255, 196, 3));
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.banner-top {
    background-image: url(imagesamr/banner-top.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(imagesamr/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}